<html>
  <head>
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    <title>vue image list</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <button-img v-for="image in imgSorted" :img="image" @call="change(image)"></button-img>
      </nav>
      <div class="images">
        <div><button v-if="show" type="button" name="button">最大表示数を超えています</button></div>
        <ol>
          <img-file v-for="file in fileSorted" :key="file.name" :file="file" @changeview="changeView(file)"></img-file>
        </ol>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="./node_modules/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="./node_modules/lodash/lodash.js"></script>
  <script type="text/javascript" src="./main.js"></script>
</html>
